# Poisson

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from statistics import mode
from scipy.stats import moment as mm
from google.colab import files
import io

In [84]:
uploaded = files.upload()

Saving stattricks_distribution.csv to stattricks_distribution (2).csv

In [85]:
data = pd.read_csv(io.StringIO(uploaded['stattricks_distribution.csv'].decode('utf-8')))
data.head()

   D1  D2  D3  D4  D5  D6  D7  D8  ...  D28  D29  D30  D31  D32  D33  D34  D35
0   4   5   5   6   7   1   2   3  ...    6    7    8  2.0  3.0  4.0  5.0  6.0
1   1   2   3   4   5   5   5   6  ...    6    7    8  2.0  5.0  6.0  7.0  8.0
2   3   4   5   6   7   2   3   4  ...    6    7    8  5.0  3.0  4.0  5.0  8.0
3   1   2   3   4   5   1   2   3  ...    4    5    6  1.0  6.0  7.0  7.0  7.0
4   2   3   4   5   6   5   5   6  ...    6    7    8  5.0  2.0  3.0  4.0  7.0

[5 rows x 35 columns]

In [86]:
data.describe()

                D1           D2  ...         D34         D35
count  1000.000000  1000.000000  ...  823.000000  792.000000
mean      3.075000     3.739000  ...    5.708384    6.594697
std       1.424572     1.230607  ...    1.439794    1.559157
min       1.000000     1.000000  ...    1.000000    1.000000
25%       2.000000     3.000000  ...    5.000000    6.000000
50%       3.000000     4.000000  ...    6.000000    7.000000
75%       4.000000     5.000000  ...    7.000000    8.000000
max       5.000000     5.000000  ...    7.000000    8.000000

[8 rows x 35 columns]

In [87]:
df= pd.DataFrame(columns=['Mean-3SD', 'Mean-2SD', 'Mean-SD','Mean', 'Mode', 'Median', 'Var', 'Std', 'Mean+SD', 'Mean+2SD', 'Mean+3SD', 
                          'Moment1', 'Moment2', 'Moment3', 'Moment4'])
df['Mean']=list(data.mean())
df['Median']=list(data.median())
df['Var']=list(data.var())
df['Std']=list(data.std())
a,f,g,h,j,k,l=[],[],[],[],[],[],[]
b=data.columns
for i in range(35):
  a.append(mode(data[b[i]]))
  f.append(df.Mean[i]-3*df.Std[i])
  g.append(df.Mean[i]-2*df.Std[i])
  h.append(df.Mean[i]-df.Std[i])
  j.append(df.Mean[i]+df.Std[i])
  k.append(df.Mean[i]+2*df.Std[i])
  l.append(df.Mean[i]+3*df.Std[i])
df['Mode']=a
df['Mean-3SD']=f
df['Mean-2SD']=g
df['Mean-SD']=h
df['Mean+SD']=j
df['Mean+2SD']=k
df['Mean+3SD']=l
df['Moment1']=mm(data,moment=1,nan_policy='omit')
df['Moment2']=mm(data,moment=2,nan_policy='omit')
df['Moment3']=mm(data,moment=3,nan_policy='omit')
df['Moment4']=mm(data,moment=4,nan_policy='omit')

In [88]:
df.head()

   Mean-3SD  Mean-2SD   Mean-SD   Mean  ...  Moment1   Moment2   Moment3   Moment4
0 -1.198715  0.225857  1.650428  3.075  ...      0.0  2.027375 -0.189581  6.965419
1  0.047179  1.277786  2.508393  3.739  ...      0.0  1.512879 -0.804636  4.185966
2  1.339534  2.312356  3.285178  4.258  ...      0.0  0.945436 -1.006941  3.037140
3  1.881790  2.965526  4.049263  5.133  ...      0.0  1.173311 -1.567504  5.776071
4  2.363368  3.579246  4.795123  6.011  ...      0.0  1.476879 -2.269738  9.495796

[5 rows x 15 columns]

## Team 0

In [89]:
uploaded = files.upload()

Saving stattricks_distributionTeam0.csv to stattricks_distributionTeam0 (2).csv

In [ ]:
dataTeam = pd.read_csv(io.StringIO(uploaded['stattricks_distributionTeam0.csv'].decode('utf-8')))
dataTeam.head()

In [ ]:
dataTeam.describe()

In [92]:
dfTeam= pd.DataFrame(columns=['Mean-3SD', 'Mean-2SD', 'Mean-SD','Mean', 'Mode', 'Median', 'Var', 'Std', 'Mean+SD', 'Mean+2SD', 'Mean+3SD', 
                          'Moment1', 'Moment2', 'Moment3', 'Moment4'])
dfTeam['Mean']=list(dataTeam.mean())
dfTeam['Median']=list(dataTeam.median())
dfTeam['Var']=list(dataTeam.var())
dfTeam['Std']=list(dataTeam.std())
a,f,g,h,j,k,l=[],[],[],[],[],[],[]
b=dataTeam.columns
for i in range(35):
  a.append(mode(dataTeam[b[i]]))
  f.append(dfTeam.Mean[i]-3*dfTeam.Std[i])
  g.append(dfTeam.Mean[i]-2*dfTeam.Std[i])
  h.append(dfTeam.Mean[i]-dfTeam.Std[i])
  j.append(dfTeam.Mean[i]+dfTeam.Std[i])
  k.append(dfTeam.Mean[i]+2*dfTeam.Std[i])
  l.append(dfTeam.Mean[i]+3*dfTeam.Std[i])
dfTeam['Mode']=a
dfTeam['Mean-3SD']=f
dfTeam['Mean-2SD']=g
dfTeam['Mean-SD']=h
dfTeam['Mean+SD']=j
dfTeam['Mean+2SD']=k
dfTeam['Mean+3SD']=l
dfTeam['Moment1']=mm(dataTeam,moment=1)
dfTeam['Moment2']=mm(dataTeam,moment=2)
dfTeam['Moment3']=mm(dataTeam,moment=3)
dfTeam['Moment4']=mm(dataTeam,moment=4)

In [ ]:
dfTeam.head()

### Finding deviations from central tendencies

In [192]:
dfDev=df.tail(5).reset_index()
dfTeamDev=dfTeam.tail(5).reset_index()
print(dfDev,'\n',dfTeamDev)

   index  Mean-3SD  Mean-2SD   Mean-SD  ...  Moment1   Moment2   Moment3    Moment4
0     30 -1.534058  0.154521  1.843099  ...      0.0  2.847754 -0.165843  14.225374
1     31 -0.279063  1.251850  2.782763  ...      0.0  2.340754 -1.445626  10.163803
2     32  0.275811  1.890715  3.505620  ...      0.0  2.604805 -1.753846  14.263874
3     33  1.389001  2.828795  4.268590  ...      0.0  2.070489 -2.756791  13.040188
4     34  1.917226  3.476383  5.035540  ...      0.0  2.427901 -3.886617  20.356010

[5 rows x 16 columns]
    index  Mean-3SD  Mean-2SD   Mean-SD  ...  Moment1   Moment2   Moment3    Moment4
0     30 -1.522004  0.168664  1.859332  ...      0.0  2.855500 -0.187950  14.353251
1     31 -0.323019  1.212320  2.747660  ...      0.0  2.354911 -1.258985   9.946142
2     32  0.352680  1.950787  3.548893  ...      0.0  2.551391 -1.653340  13.509899
3     33  1.525852  2.934568  4.343284  ...      0.0  1.982496 -2.597770  11.931641
4     34  2.060099  3.585732  5.111366  ...      0.0  2.325231 -3.686991  19.007765

[5 rows x 16 columns]

In [193]:
Dev=pd.DataFrame(columns=['Mean-3SD', 'Mean-2SD', 'Mean-SD','Mean', 'Mode', 'Median', 'Var', 'Std', 'Mean+SD', 'Mean+2SD', 'Mean+3SD', 
                          'Moment1', 'Moment2', 'Moment3', 'Moment4'])

In [209]:
def percentage_change(col1,col2):
  return ((abs(col2) - abs(col1)) / abs(col1)) * 100
DevCol=Dev.columns
for i in range(15):
  Dev[DevCol[i]]=percentage_change(dfDev[DevCol[i]],dfTeamDev[DevCol[i]])
Dev=Dev.abs()
Dev=Dev.drop(['Moment1'], axis=1)
Dev

    Mean-3SD  Mean-2SD   Mean-SD  ...   Moment2    Moment3   Moment4
0   0.785726  9.153033  0.880753  ...  0.271992  13.329925  0.898940
1  15.751524  3.157714  1.261446  ...  0.604806  12.910748  2.141539
2  27.870326  3.177168  1.234391  ...  2.050612   5.730625  5.285910
3   9.852482  3.739144  1.749861  ...  4.249849   5.768321  8.501009
4   7.452048  3.145494  1.505821  ...  4.228762   5.136223  6.623323

[5 rows x 14 columns]

In [212]:
print ("Percent error is: ",Dev.values.sum()/70)

Percent error is:  3.6137443033222376

# Normal

In [221]:
uploaded = files.upload()

Saving stattricks_distribution.csv to stattricks_distribution (3).csv

In [222]:
data1 = pd.read_csv(io.StringIO(uploaded['stattricks_distribution.csv'].decode('utf-8')))
data1.head()

   D1  D2  D3  D4  D5  D6  D7  D8  ...  D28  D29  D30  D31  D32  D33  D34  D35
0   4   5   5   6   7   1   2   3  ...    6    7    8  2.0  3.0  4.0  5.0  6.0
1   1   2   3   4   5   5   5   6  ...    6    7    8  2.0  5.0  6.0  7.0  8.0
2   3   4   5   6   7   2   3   4  ...    6    7    8  5.0  3.0  4.0  5.0  8.0
3   1   2   3   4   5   1   2   3  ...    4    5    6  1.0  6.0  7.0  7.0  7.0
4   2   3   4   5   6   5   5   6  ...    6    7    8  5.0  2.0  3.0  4.0  7.0

[5 rows x 35 columns]

In [226]:
normal=pd.Series(data1.values.ravel('F'))
normal=normal.dropna()
print(normal)

0        4.0
1        1.0
2        3.0
3        1.0
4        2.0
        ...
34787    8.0
34788    4.0
34789    7.0
34790    5.0
34791    3.0
Length: 34055, dtype: float64

In [227]:
#normal=normal.tail(4055).reset_index()
normal.describe()

              index            0
count   4055.000000  4055.000000
mean   32405.180764     5.053761
std     1424.939153     1.891630
min    30000.000000     1.000000
25%    31208.500000     4.000000
50%    32425.000000     5.000000
75%    33600.500000     7.000000
max    34791.000000     8.000000

In [11]:
Mean=normal.mean()
Mode=mode(normal)
Median=normal.median()
Var=normal.var()
Std=normal.std()
MeanSD13=Mean-3*Std
MeanSD12=Mean-2*Std
MeanSD11=Mean-Std
MeanSD21=Mean+Std
MeanSD22=Mean+2*Std
MeanSD23=Mean+3*Std
Moment1=mm(normal,moment=1)
Moment2=mm(normal,moment=2)
Moment3=mm(normal,moment=3)
Moment4=mm(normal,moment=4)

In [12]:
print("Mean: ",Mean,"\nMode: ",Mode,"\nMedian: ",Median,"\nVar: ",Var,"\nStd: ",Std,"\nMean-3Std: ",MeanSD13,"\nMean-2Std: ",MeanSD12,
      "\nMean-Std: ",MeanSD11,"\nMean+Std: ",MeanSD21,"\nMean+2Std: ",MeanSD22,"\nMean+3Std: ",MeanSD23,"\nMoment1: ",Moment1,
      "\nMoment2: ",Moment2,"\nMoment3: ",Moment3,"\nMoment4: ",Moment4,)

Mean:  4.773102334458963
Mode:  5.0
Median:  5.0
Var:  3.149344034133133
Std:  1.7746391278604032
Mean-3Std:  -0.5508150491222459
Mean-2Std:  1.223824078738157
Mean-Std:  2.99846320659856
Mean+Std:  6.547741462319367
Mean+2Std:  8.322380590179769
Mean+3Std:  10.097019718040173
Moment1:  0.0
Moment2:  3.1492515559643057
Moment3:  -2.0075288213915456
Moment4:  22.436344386148004

## Team 0

In [213]:
uploaded = files.upload()

Saving stattricks_distributionTeam0.csv to stattricks_distributionTeam0 (3).csv

In [ ]:
data1Team = pd.read_csv(io.StringIO(uploaded['stattricks_distributionTeam0.csv'].decode('utf-8')))
data1Team.head()

In [ ]:
normalTeam=pd.Series(data1Team.values.ravel('F'))
normalTeam=normalTeam.dropna()
print(normalTeam)

In [ ]:
#normalTeam=normalTeam.tail(5000).reset_index()
normalTeam.describe()

In [217]:
MeanTeam=normalTeam.mean()
ModeTeam=mode(normalTeam)
MedianTeam=normalTeam.median()
VarTeam=normalTeam.var()
StdTeam=normalTeam.std()
MeanSD13Team=MeanTeam-3*StdTeam
MeanSD12Team=MeanTeam-2*StdTeam
MeanSD11Team=MeanTeam-StdTeam
MeanSD21Team=MeanTeam+StdTeam
MeanSD22Team=MeanTeam+2*StdTeam
MeanSD23Team=MeanTeam+3*StdTeam
Moment1Team=mm(normalTeam,moment=1)
Moment2Team=mm(normalTeam,moment=2)
Moment3Team=mm(normalTeam,moment=3)
Moment4Team=mm(normalTeam,moment=4)

In [ ]:
print("Mean: ",MeanTeam,"\nMode: ",ModeTeam,"\nMedian: ",MedianTeam,"\nVar: ",VarTeam,"\nStd: ",StdTeam,"\nMean-3Std: ",MeanSD13Team,
      "\nMean-2Std: ",MeanSD12Team,"\nMean-Std: ",MeanSD11Team,"\nMean+Std: ",MeanSD21Team,"\nMean+2Std: ",MeanSD22Team,"\nMean+3Std: ",
      MeanSD23Team,"\nMoment1: ",Moment1Team,"\nMoment2: ",Moment2Team,"\nMoment3: ",Moment3Team,"\nMoment4: ",Moment4Team,)

### Finding deviations from central tendencies

In [ ]:
Dev=pd.DataFrame(columns=['Mean-3SD', 'Mean-2SD', 'Mean-SD','Mean', 'Mode', 'Median', 'Var', 'Std', 'Mean+SD', 'Mean+2SD', 'Mean+3SD', 
                          'Moment1', 'Moment2', 'Moment3', 'Moment4'])

In [231]:
dev=abs((abs(Mean)-abs(MeanTeam))/abs(Mean)+(abs(Mode)-abs(ModeTeam))/abs(Mode)+(abs(Median)-abs(MedianTeam))/abs(Median)+
        (abs(Var)-abs(VarTeam))/abs(Var)+(abs(Std)-abs(StdTeam))/abs(Std)+(abs(MeanSD13)-abs(MeanSD13Team))/abs(MeanSD13)+
        (abs(MeanSD12)-abs(MeanSD12Team))/abs(MeanSD12)+(abs(MeanSD11)-abs(MeanSD11Team))/abs(MeanSD11)+
        (abs(MeanSD21)-abs(MeanSD21Team))/abs(MeanSD21)+(abs(MeanSD22)-abs(MeanSD22Team))/abs(MeanSD22)+
        (abs(MeanSD23)-abs(MeanSD23Team))/abs(MeanSD23)+(abs(Moment2)-abs(Moment2Team))/abs(Moment2)
        +(abs(Moment3)-abs(Moment3Team))/abs(Moment3)+(abs(Moment4)-abs(Moment4Team))/abs(Moment4))
dev=dev/14

0.040587571787800696

In [232]:
print ("Percent error is: ",dev*100)

Percent error is:  4.05875717878007

In [ ]:
# Ques: take whole data or last 5000? and divide by 70(14) or 75(15) in above cell?

In [ ]:
'''def percentage_change(col1,col2):
  a=0
  for i in range(5):
    a+=(abs(col1[i])-abs(col2[i]))
  b=a*100/5
  return b

DevCol=Dev.columns
init=[]
for i in range(15):
  init.append(percentage_change(dfDev[DevCol[i]],dfTeamDev[DevCol[i]]))
new_row=pd.DataFrame({'Mean-3SD':init[0],'Mean-2SD':init[1],'Mean-SD':init[2],'Mean':init[3],'Mode':init[4],'Median':init[5],'Var':init[6],
                      'Std':init[7],'Mean+SD':init[8],'Mean+2SD':init[9],'Mean+3SD':init[10],'Moment1':init[11],'Moment2':init[12],
                      'Moment3':init[13],'Moment4':init[14]},index=[0])
Dev = pd.concat([new_row, Dev])
Dev=Dev.abs()
Dev
e=Dev.sum(axis=1)
e=e/15
e'''